/*============================= New Card 1 =====================================*/
.card-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 270px;
    width: 440px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.336);
}
.card-1 img {
    width: 400px;
    height: 200px;
}

/*============================= New Card 2 =====================================*/

.card-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 270px;
    width: 440px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(127, 203, 238, 0.747);
}
.card-2 img {
    width: 400px;
    height: 200px;
}
